In [ ]:
import pandas as pd
from functools import reduce

In [ ]:
from google.colab import drive  ##My excel files are in drive
drive.mount('/content/drive/')
%cd /content/drive/My Drive/Machine Learning - Project/DATA/

Mounted at /content/drive/
/content/drive/My Drive/Machine Learning - Project/DATA

In [ ]:
#writing file names and data frame names
year=list(range(2008,2024,1))
file_name=list('ForbesGlobal2000_'+str(x) for x in year)
df_name=list('df_'+str(x) for x in year)
len(year)

16

In [ ]:
#collecting my data frames in a dictionary
data_frames={}
for i in range(len(df_name)):
  data_frames[df_name[i]] = pd.read_excel(file_name[i]+'.xlsx')

In [ ]:
data_frames['df_2023']

,Rank_nr_2023,Company,Industry,Country,Sales_2023,Profits_2023,Assets_2023,Market_Value_2023
0,1,JPMorgan Chase,Banking,United States,179933.0,41795.0,3744305,399594
1,2,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,589467.0,156357.0,660990,2055222
2,3,ICBC,Banking and Financial Services,China,216767.0,52470.8,6116824,203012
3,4,China Construction Bank,Banking,China,203083.0,48252.5,4977476,172992
4,5,Agricultural Bank of China,Banking,China,186144.0,37924.7,5356862,141822
...,...,...,...,...,...,...,...,...
1995,1996,Alfa Laval,Capital Goods,Sweden,5353.0,489.5,7822,15595
1996,1996,Gap,Retailing,United States,15616.0,-202.0,11386,3175
1997,1996,Yes Bank,Banking,India,3338.0,91.6,43221,5603
1998,1999,BEKB-BCBE,Banking,Switzerland,556.0,167.1,42972,2490
1999,1999,Ipsen,Drugs & Biotechnology,France,3179.0,681.7,5985,10205

In [ ]:
data_frames.keys()
#data_frames.items()

dict_keys(['df_2008', 'df_2009', 'df_2010', 'df_2011', 'df_2012', 'df_2013', 'df_2014', 'df_2015', 'df_2016', 'df_2017', 'df_2018', 'df_2019', 'df_2020', 'df_2021', 'df_2022', 'df_2023'])

In [ ]:
#Meriging all my dataframes by company, industry and country
merged_df = None  # Initialize the merged dataframe

for df_key, df_value in data_frames.items():
    if merged_df is None:
        merged_df = df_value.copy()  # Initialize merged_df with the first dataframe
    else:
        merged_df = pd.merge(merged_df, df_value, on=['Company','Industry','Country'], how='outer')

In [ ]:
print(merged_df.columns)
print(merged_df.shape)

Index(['Rank_nr_2008', 'Company', 'Industry', 'Country', 'Sales_2008',
       'Profits_2008', 'Assets_2008', 'Market_Value_2008', 'Rank_nr_2009',
       'Sales_2009', 'Profits_2009', 'Assets_2009', 'Market_Value_2009',
       'Rank_nr_2010', 'Sales_2010', 'Profits_2010', 'Assets_2010',
       'Market_Value_2010', 'Rank_nr_2011', 'Sales_2011', 'Profits_2011',
       'Assets_2011', 'Market_Value_2011', 'Rank_nr_2012', 'Sales_2012',
       'Profits_2012', 'Assets_2012', 'Market_Value_2012', 'Rank_nr_2013',
       'Sales_2013', 'Profits_2013', 'Assets_2013', 'Market_Value_2013',
       'Rank_nr_2014', 'Sales_2014', 'Profits_2014', 'Assets_2014',
       'Market_Value_2014', 'Rank_nr_2015', 'Sales_2015', 'Profits_2015',
       'Assets_2015', 'Market_Value_2015', 'Rank_nr_2016', 'Sales_2016',
       'Profits_2016', 'Assets_2016', 'Market_Value_2016', 'Rank_nr_2017',
       'Sales_2017', 'Profits_2017', 'Assets_2017', 'Market_Value_2017',
       'Rank_nr_2018', 'Sales_2018', 'Profits_2018', 'Assets_2018',
       'Market_Value_2018', 'Rank_nr_2019', 'Sales_2019', 'Profits_2019',
       'Assets_2019', 'Market_Value_2019', 'Rank_nr_2020', 'Sales_2020',
       'Profits_2020', 'Assets_2020', 'Market_Value_2020', 'Rank_nr_2021',
       'Sales_2021', 'Profits_2021', 'Assets_2021', 'Market_Value_2021',
       'Rank_nr_2022', 'Sales_2022', 'Profits_2022', 'Assets_2022',
       'Market_Value_2022', 'Rank_nr_2023', 'Sales_2023', 'Profits_2023',
       'Assets_2023', 'Market_Value_2023'],
      dtype='object')
(6059, 83)

In [ ]:
merged_df.head()

,Rank_nr_2008,Company,Industry,Country,Sales_2008,Profits_2008,Assets_2008,Market_Value_2008,Rank_nr_2009,Sales_2009,...,Rank_nr_2022,Sales_2022,Profits_2022,Assets_2022,Market_Value_2022,Rank_nr_2023,Sales_2023,Profits_2023,Assets_2023,Market_Value_2023
0,1.0,HSBC Holdings,Banking,United Kingdom,146500.0,19130.0,2348980.0,180810.0,6.0,142050.0,...,38,59326.0,12577.5,2957939.0,135300.0,20.0,73976.0,22188.6,2989696.0,151187.0
1,2.0,General Electric,Conglomerates,United States,172740.0,22210.0,795340.0,330930.0,1.0,182520.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,Bank of America,Banking,United States,119190.0,14980.0,1715750.0,176530.0,38.0,113110.0,...,9,96826.0,30995.0,3238223.0,303102.0,6.0,133841.0,28622.0,3194657.0,220825.0
3,4.0,JPMorgan Chase,Banking,United States,116350.0,15370.0,1562150.0,136880.0,16.0,101490.0,...,NaN,NaN,NaN,NaN,NaN,1.0,179933.0,41795.0,3744305.0,399594.0
4,5.0,ExxonMobil,Oil & Gas Operations,United States,358600.0,40610.0,242080.0,465510.0,4.0,425700.0,...,15,280510.0,23040.0,338923.0,359731.0,8.0,393162.0,61690.0,369371.0,439391.0

In [ ]:
merged_df_cleaned=merged_df.dropna() #returns companies tha have been every year in the ranking
merged_df_cleaned.shape

(385, 83)

In [ ]:
#dataset of the ranking by year
rank_df_columns=list('Rank_nr_'+str(x) for x in year)
my_list=['Company','Industry','Country']+rank_df_columns
ranking_num=merged_df.loc[:,my_list]
ranking_num.head()

,Company,Industry,Country,Rank_nr_2008,Rank_nr_2009,Rank_nr_2010,Rank_nr_2011,Rank_nr_2012,Rank_nr_2013,Rank_nr_2014,Rank_nr_2015,Rank_nr_2016,Rank_nr_2017,Rank_nr_2018,Rank_nr_2019,Rank_nr_2020,Rank_nr_2021,Rank_nr_2022,Rank_nr_2023
0,HSBC Holdings,Banking,United Kingdom,1.0,6.0,8.0,2.0,6.0,6.0,14.0,15.0,14.0,48.0,17.0,21.0,44.0,40,38,20.0
1,General Electric,Conglomerates,United States,2.0,1.0,2.0,3.0,3.0,4.0,7.0,9.0,68.0,14.0,388.0,389.0,53.0,45,NaN,NaN
2,Bank of America,Banking,United States,3.0,38.0,3.0,375.0,83.0,28.0,13.0,23.0,11.0,7.0,6.0,5.0,8.0,6,9,6.0
3,JPMorgan Chase,Banking,United States,4.0,16.0,1.0,1.0,2.0,3.0,4.0,6.0,5.0,4.0,3.0,NaN,NaN,NaN,NaN,1.0
4,ExxonMobil,Oil & Gas Operations,United States,5.0,4.0,4.0,4.0,NaN,NaN,NaN,NaN,9.0,13.0,13.0,11.0,13.0,317,15,8.0

In [ ]:
# merged_df.to_excel('merged_df.xlsx', index=False)
# merged_df_cleaned.to_excel('merged_df_cleaned.xlsx', index=False)

In [ ]:
ranking_num.to_excel('ranking_num.xlsx',index=False)